:root {
  --primary: #ffffff;
  --primary-text: #ffffff;
  --secondary: #00b7ff;
  --secondary-text: #000000;
  --accent: #3d4047;
  --accent-text: #ffffff;
}

p1 {
  text-align: center;
  color: white;
}

Footer {
  text-align: center;
}